img {
    width: 250px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.klasse-1 {
    background-color: aqua;
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.klasse-2 {
    background-color: burlywood;
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.klasse-3 {
    background-color: cadetblue;
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.klasse-4 {
    background-color: coral;
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.klasse-5 {
    background-color: cornflowerblue;
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.klasse-6 {
    background-color: darkkhaki;
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}